
{% style %}

.cutsom-hotspot--{{ section.id }}{
    padding:2rem;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    justify-content:center;
    align-items:center;
    position:relative;
    padding-top: {{section.settings.padding_top | divided_by:2 }}px;
    padding-bottom: {{section.settings.padding_bottom | divided_by:2 }}px;

}
@media screen and (min-width:998px){
    .cutsom-hotspot--{{ section.id }}{
    padding:5rem;
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
}
.custom-hotspot--heading{
    text-align: {{ section.settings.text_position }}
}
*{
    font-family: "Inter";

}
*, :after, :before {
    box-sizing: inherit;
    
}
.custom-hotspot-image-container{
    width: 100%;
    max-height:600px;
    position:relative;
    border-radius:6% 6% 20px 20px;
}
.custom-hotspot-img-ele{
    width:100%;
    max-height:100%;
    object-fit: cover;
    border-radius:6% 6% 20px 20px;
}

{%  for block in section.blocks %}
.product-tag-circle-{{forloop.index}}{
  position: absolute;
    width: 8px;
    height: 8px;
    background: #FFFFFF;
    z-index: 9;
    border-radius: 100%;
    top: {{ block.settings.hotspot_top_position }}%;
    left: {{ block.settings.hotspot_left_position }}%;
}
.hotspot-container-{{ forloop.index }} .product-tag-circle-{{ forloop.index }}:before {
    position: absolute;
    content: "";
    border-radius: 100%;
    transition: all .4s;
    border: 15px solid #ffffff80;
    width: 30px;
    height: 30px;
    left: -10px;
    z-index: 2;
    top: -10px;
}
.product-card_hover_show-{{forloop.index}}{
  padding: 8px;
  display: flex;
  background-color:#fff;
  position:absolute;
  align-items:center;
  top: {{ block.settings.hotspot_top_position| plus:1 }}%;
  left: {{ block.settings.hotspot_left_position| plus:1 }}%;
  z-index: 10;
}

{% endfor %}

.custom-hotspot-product-card{
    max-width:200px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding:3px;
    max-height:60px;

}
.custom-hostpot--product-card-image-container{
    margin-right: 8px;
    width: 66px;
   height: 66px;
}
.custom-hostpot--product-card-image{
  height:66px;
  width:66px;
  background-size:cover;
}

.custom-hotspot--product-card-text-container{
  background-color: #fff;
  padding:5px;
  text-align:center;
}
.custom-hotspot--product-card-prices-container{
    display:flex;
    flex-wrap:wrap;

}
.add-to-cart-button{
   width:100%;
   height:25px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px 2px #00000040;
   padding:4px 8px;
   font-size:10px;
   font-weight:700;
   border:none;
   background-color:#ffffff;

}
.display-price-values{
    font-size:10px;
    margin-right:10px;
    text-decoration:line-through;
}
.product-card-list--compare-price{
    font-size:16px;
    margin-left:10px;
    color:black;
    text-decoration:line-through;

}
.product-card-list--price{
    color:red;
}


.card-container-link-top{
    text-decoration:none;
}
.custom-hotspot--product-card-title{
    font-size:12px;
    color:black;
    font-weight:700;
}
.product-list--product-card-title{
    color:black;
    font-size:18px;
    font-weight:bold;
}
.card-hover-show{
    opacity:0;
    border-radius: 0 16px 16px 16px;
}
.card-hover-show:hover{
    opacity:1;
    border-radius: 0 16px 16px 16px;
}



.product-list-{{ section.id }}{
   margin-top:30px;
   width:100%;
   max-width:400px;
   min-height:400px;
   padding:20px;
   border:1px solid black;
   border-radius:20px 20px 10px 10px;;
   background-color:white;

}
.product-list--image-container{
    height:300px;
    width:100%;
    position:relative;
}
.product-card-image-size{
    width:100%;
    height:100%;
    background-size:cover;
    border-radius:8px;

}
.product-list--tag{
    position:absolute;
    top:5%;
    left:5%;
    display:flex;
    font-size:10px;
    justify-content:center;
    align-items:center;
    background-color:#24a0ed;
    color:white;
    height:8px ;
    width: 35px;
    padding:20px;
    border-radius: 10px 10px 5px 5px;
}
.product-card--vendor{
    font-size:10px;
    color:skyblue;
}
.product-list--text-container{
    padding:10px;
}
.product-list-container{
    text-align:center;
}
.price-original{
    color:red;
    text-decoration:none;
}
.custom-hotspot--product-card a{
    text-decoration:none;
    outline:none;
}
@media screen and (min-width:998px){
 .product-list-{{ section.id }}{
    position:absolute;
    top:25%;
    right:5%;
    background-color:white;
    z-index: 5;
 }
 .custom-hotspot-image-container{
    width: 80%;
    position:relative;
}

}
.customer-reviews--review{
    display:flex;
    justify-content:center;
    align-items:center;
}
.customer-reviews-rating-decimal{
    margin-left:20px;
    font-size:16px;
}
{% for product in section.settings.product_list %}

.star-rating-{{ forloop.index }}:before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(90deg, #FFAA47 calc({{product.metafields.custom.ratings}}/5 * 100%), #E1E1E1 calc({{product.metafields.custom.ratings}}/5 * 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.customer-reviews--review .star-rating-{{ forloop.index }} {
        font-size: 3rem;
        display:block;
}
{% endfor %}
.custom-hotspot-card-diaplay:hover .card-hover-show{
    opacity:1;

}



splider-component .splide__arrow--next{
    right: -4rem;
    height: 4rem;
    width: 4rem;
    top: 18rem;
    border: 1.5px solid black;
    border-radius: 50% 50% 5px 5px;
}
splider-component .splide__arrow--prev {
    left: 36rem;
    top: 23rem;
    height: 4rem;
    width: 4rem;
    border-radius: 5px 5px 50% 50%;
    border: 1px solid black;
} 


{% endstyle %}



   

{% capture sliderOption %}
   {
    "autoplay": "false",
    "pagination" : "false",
    "arrows": "true",
    "perMove": 1,
    "breakpoints": {
        "500": {
            "perPage": 1
        }
    }
   }
   
{% endcapture %}



<div class="cutsom-hotspot--{{ section.id }}">
    <div class="custom-hotspot--container">
        {% if section.settings.blog_heading != blank %}
            <h1 class="custom-hotspot--heading"> {{ section.settings.blog_heading }}</h1>
        {% endif %}
        <div class="custom-hotspot-image-container">
            {% if section.settings.hotspot_background_image != blank %}
                <img src="{{ section.settings.hotspot_background_image | image_url}}" height="auto" width="auto" class="custom-hotspot-img-ele">
              {% else %}
              {{  }}
            {% endif %}
            {%  for  block in section.blocks %}
            <div class="hotspot-container-{{ forloop.index }} custom-hotspot-card-diaplay">
                <span class="product-tag-circle-{{ forloop.index }}"></span>
            </div>
                <div class="product-card_hover_show-{{forloop.index}} card-hover-show custom-hotspot--product-card">
                  <a href="{{ block.settings.productid.url }}">
                  <div class="custom-hostpot--product-card-image-container">
                    <img src="{{ block.settings.productid.featured_image | image_url }} " height="60" width="60" class="custom-hostpot--product-card-image" />
                  </div>
                  </a>
                  <div class="custom-hotspot--product-card-text-container">
                    {% if  block.settings.productid.title != blank %}
                    <span class="custom-hotspot--product-card-title">{{ block.settings.productid.title | truncate:15 }}</span>
                    {% endif %}
                     <div class="custom-hotspot--product-card-prices-container">
                        {% if block.settings.productid.compare_at_price > block.settings.productid.price %}
                        <span class="display-price-values">${{ block.settings.productid.compare_at_price | money_without_currency }} </span>
                        <span class="display-price-values price-original">${{block.settings.productid.price | money_without_currency }} </span>
                        {% else %}
                        <span class="display-price-values price-original">${{block.settings.productid.price | money_without_currency }} </span>
                        {% endif  %}
                    </div>
                    {% if block.settings.add_to_cart %}
                    <button class="add-to-cart-button" data-product="{{ block.settings.productid.variants.first.id }}">Add to Bag</button>
                    {% endif %}
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="product-list-{{ section.id }}">
        <splider-component class="splide" data-slider-option= '{{ sliderOption }}'>
            <div class="splide__track">
                <ul class="splide__list">
                    {% for product in section.settings.product_list %}
                    <li class="splide__slide">
                    <div class="product-list-container">
                        <div class="product-list--image-container">
                            <img src='{{ product.featured_image | image_url }}' height="auto" width="auto"  class="product-card-image-size" />
                            {% if product.tags.first != blank %}
                            <span class="product-list--tag">{{ product.tags.first }}</span>
                            {% endif %}
                        </div>
                        <div class="product-list--text-container">
                        {% if product.vendor != blank %}
                            <span class="product-card--vendor">{{ product.vendor }} </span>
                            <br/>
                        {% endif %}
                        {% if product.title != blank %}
                     <span class="product-list--product-card-title">{{ product.title }}</span>
                     {% endif %}
                     <div class="product-card-prices">
                        <div class="customer-reviews--review">
                            <div class="star-rating-{{ forloop.index }}"></div>
                            <span class="customer-reviews-rating-decimal">{{ product.metafields.custom.ratings }}</span>
                        </div>
                        {% if product.compare_at_price > product.price %}
                        <span class="product-card-list--compare-price price-original">${{product.price | money_without_currency }} </span>
                        <span class="product-card-list--compare-price">${{ product.compare_at_price | money_without_currency }} </span>
                        {% else %}
                        <span class="product-card-list--compare-price price-original">${{product.price | money_without_currency }} </span>
                        {% endif %}
                    </div>
                    </div>
                     </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
    
        </splider-component>
    </div>
</div>


<script src = {{ "custom-splider.js"| asset_url }} defer> </script>
    <script>
        let buttonEl = document.querySelectorAll(".add-to-cart-button")

buttonEl.forEach(button=>{
    button.addEventListener("click",(event)=>{
        let val = event.target.dataset.product
        console.log(val)
        let formData = {
            'items': [{
             'id': val,
             'quantity': 1
             }]
           };
           fetch(window.Shopify.routes.root + 'cart/add.js', {
             method: 'POST',
             headers: {
               'Content-Type': 'application/json'
             },
             body: JSON.stringify(formData)
           })
           .then(response => {
             return response.json();
           })
           .then(response => {
             //Replace the below line with ajax cart open and update code
              document.location.href = '/cart';
            let cartEl = document.querySelector("cart-drawer.drawer");
            cartEl.classList.add("active") 
           })
           .catch((error) => {
             console.error('Error:', error);
           });
    })
})
      </script>



{% schema %}
{
 "name": "Custom hotspot section",
 "tag": "section",
 "class": "section",
 "settings": [

    {
      "type": "color_background",
      "id" : "background_color",
      "label": "Background Color",
      "default":"#ffffff"
    
    },
    {
     "type": "inline_richtext",
     "id": "blog_heading",
     "label": "Heading",
     "default": "shop the look"
    
    },
    {
        "type": "select",
        "id": "text_position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center",
        "label": "Heading alignment"
      },
    {
        "type": "image_picker",
        "id": "hotspot_background_image",
        "label": "Select image"
    },
    {
    "type": "product_list",
    "id": "product_list",
    "label": "List of products"
    },
    {
     "type": "header",
     "content": "Padding Customization"
    
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Padding top",
        "default": 30
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "padding bottom",
        "default": 30
    }
 ],
 "blocks": [

    {
       "name": "hotspot",
       "type": "hotspot",
       "settings": [
        {
            "type": "product",
            "id": "productid",
            "label": "Pick a product"
        },
        {
            "type": "checkbox",
            "id": "add_to_cart",
            "label": "Display add to cart",
            "default": true
        },
        {
            "type": "range",
            "id": "hotspot_top_position",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Hotspot Top Position",
            "default": 0
          },
          {
            "type": "range",
            "id": "hotspot_left_position",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Hotspot Left position",
            "default": 0
          },
          {
            "type": "header",
            "content": "Product Card Positions"
          },
          {
            "type": "range",
            "id": "card_top_position",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Card Top Position",
            "default": 0
          },
          {
            "type": "range",
            "id": "card_left_position",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Card Left position",
            "default": 0
          }

       ]
    }
],
"presets": [
  {
   "name": "Custom hotspot product section",
   "blocks": [
   {
  "type": "hotspot"

},
{
    "type": "hotspot"
  
  }


   ]
}

]

}


{% endschema %}